*.o
*.obj
*.lo
*.so
*.dll
*.dylib
*.la
.idea
.iml
*.old
CMakeFiles
cmake-build-debug
exe/*
CMakeCache.txt
*.cmake
*.cbp
.DS_Store
./*.xml_data/
traingenerator
jeu/*
build/
install/
.history
CMakeUserPresets.json